#name,#link,#yellow_dot{
    display: inline-block;
}

.myName{
    font-family: 'Kaushan Script', cursive;
    font-size: 1.8rem;
}

.navLinks{
    text-decoration: none;
    font-size: 1rem;
    color: #3C4048;
    font-family: Arial, Helvetica, sans-serif;
}
 
.img1{
    width: 500px;
    height: 300px;
}
#name{
    width:80%;
}

#link{
    margin-left: auto;
}

.heading{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 12.59%;
    margin-top: 3%;
}
.footer{
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 4%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
}
.fh1{
    font-family: 'Alkatra', cursive;
}
.fh2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1rem;
}
hr{
    margin-top: 15%;
    margin-left: 4%;
    margin-right: 4%;
}

.pointer{
    cursor: pointer;
}

.project1, .project2{
    margin-top: 4%;
    margin-left: 12.59%;
    margin-bottom: 4%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: Arial, Helvetica, sans-serif;
    column-gap: 27.59%;
}

@media all and (max-width:550px){
    .myName{
        font-family: 'Kaushan Script', cursive;
        font-size: 1.3rem;
    }
    #name{
        width:38%;
    }
    .navLinks{
        text-decoration: none;
        font-size: 0.85rem;
        color: #3C4048;
        font-family: Arial, Helvetica, sans-serif;
    }
    .heading{
        margin-left: 0px;
        text-align: center;
    }
    .head1{
        font-size: 1rem;
    }
    .project1,.project2{
        margin-left: 0px;
        display: block;
        text-align: center;
    }
    .img1{
        width: 0px;
        height: 0px;
    }
    .fh1{
        font-size: 0.8rem;
    }
    .fh2{
        font-size: 0.5rem;
    }
    .logo{
        height: 10px;
        width: 10px;
    }
}
