/* body{
    background-color:#ECF2FF;
} */

#name,#link,#yellow_dot{
    display: inline-block;
}

.myName{
    font-family: 'Kaushan Script', cursive;
    font-size: 1.8rem;
}

.navLinks{
    text-decoration: none;
    font-size: 1rem;
    color: #3C4048;
    font-family: Arial, Helvetica, sans-serif;
}
 

#name{
    width:80%;
}

#link{
    margin-left: auto;
}

.resume{
    margin-top: 5%;
    margin-left: 12.59%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
}
.row1{
    margin-top: 4%;
    margin-left: 12.59%;
    margin-bottom: 4%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: Arial, Helvetica, sans-serif;
}

.row2{
    margin-top: 4%;
    margin-left: 12.59%;
    margin-bottom: 4%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: Arial, Helvetica, sans-serif;
}

.row3{
    margin-top: 4%;
    margin-left: 12.59%;
    margin-bottom: 4%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: Arial, Helvetica, sans-serif;
    column-gap: 27.59%;
}
li{
    padding-bottom: 10px;
}
.footer{
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
}
.fh1{
    font-family: 'Alkatra', cursive;
}
.fh2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1rem;
}
hr{
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

.pointer{
    cursor: pointer;
}