/* body{
    background-color:#ECF2FF;
} */

#name,#link,#yellow_dot{
    display: inline-block;
}
.logo{
    width: 30px;
    height: 30px;
}

.myName{
    font-family: 'Kaushan Script', cursive;
    font-size: 1.8rem;
}

.navLinks{
    text-decoration: none;
    font-size: 1rem;
    color: #3C4048;
    font-family: Arial, Helvetica, sans-serif;
}
 

#name{
    width:80%;
}

#link{
    margin-left: auto;
}

.resume{
    margin-top: 5%;
    margin-left: 12.59%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
}
.row1{
    margin-top: 4%;
    margin-left: 12.59%;
    margin-bottom: 4%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: Arial, Helvetica, sans-serif;
}

.row2{
    margin-top: 4%;
    margin-left: 12.59%;
    margin-bottom: 4%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: Arial, Helvetica, sans-serif;
}

.row3{
    margin-top: 4%;
    margin-left: 12.59%;
    margin-bottom: 4%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: Arial, Helvetica, sans-serif;
    column-gap: 27.59%;
}
li{
    padding-bottom: 10px;
}
.footer{
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 4%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
}
.fh1{
    font-family: 'Alkatra', cursive;
}
.fh2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1rem;
}
hr{
    margin-top: 15%;
    margin-left: 4%;
    margin-right: 4%;
}

.pointer{
    cursor: pointer;
}

@media all and (max-width:550px){
    .myName{
        font-family: 'Kaushan Script', cursive;
        font-size: 1.3rem;
    }
    #name{
        width:38%;
    }
    .navLinks{
        text-decoration: none;
        font-size: 0.85rem;
        color: #3C4048;
        font-family: Arial, Helvetica, sans-serif;
    }
    .resume{
        font-size: 1.5rem;
        text-align: center;
        margin-left: 0%;
    }
    .row1, .row2, .row3{
        margin-left: 3%;
    }
    .row3{
        column-gap: 0%;
    }
    .fh1{
        font-size: 0.8rem;
    }
    .fh2{
        font-size: 0.5rem;
    }
    .logo{
        height: 10px;
        width: 10px;
    }
    h2{
        font-size: 1.2rem;
    }
}
